@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$primary-font: 'Handlee', cursive;
$secondary-font: 'Indie Flower', cursive;
$ternary-font: 'Open Sans', sans-serif;

