@import "config";

* {
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
	box-sizing: border-box;
  overflow: hidden;
  backface-visibility: hidden;
}

#screen {
  height: 100vh;
  width: 100vw;
  

  transition: background-color 2000ms ease-in-out, opacity 1500ms ease-out;


  #color-span {
		display: inline-block;
    position: absolute;
    bottom: 15vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    text-shadow: 0.1vh 0.2vw 0.2vw black;
    background-color: rgba($color: #000, $alpha: 0.05);
    box-shadow: .4vh -.2vw .3vw rgba(#000, .4);
    font-size: 10vh;
		padding: 1vh 1.5vw;
    opacity: 0;
    width: max-content;

  }

  #input {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    background-color: transparent;
    outline: none;
    border: none;
    padding-bottom: 20vh;
    text-align: center;
    text-decoration: none;
    font-size: 15vh;
    font-weight: 100;
    cursor: default;
    text-shadow: 0.3vh 0.2vw 0.2vw black;
    &::selection {
      background-color: rgba($color: #fff, $alpha: 0.02);
    }
    transition: opacity 1500ms ease-in 1000ms;

    opacity: 0;
  }
}
