@import 'config';


* {
    margin: 0;
    padding: 0;
    transition: background-color 1500ms ease-in,
                opacity 2000ms ease-in;
    font-family: $primary-font;
    box-sizing: border-box;
    
}


#screen {
    height: 100vh;
    width: 100vw;
    position: relative;
    animation: init 1000ms ease-in 1 forwards;
    #color-span {
        position: absolute;

        opacity: 0;

    }

    #input {
        height: 100vh;
        width: 100vw;

        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        outline: none;
        border: none;

        text-align: center;
        text-decoration: none;
        font-size: 15vh;
        font-weight: 200;
        cursor: default;
        text-shadow: 
                    .2vh .3vw .2vw black,
                    .1vh .2vw .2vw black;
        &::selection {
            background-color: rgba($color: #000, $alpha: .1);
        }


        opacity: 0;
        
    }

}

@keyframes init {
    from {opacity: 0}
    to {opacity: 1}
}



